*{
    box-sizing: border-box;
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-color:white;
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

#calculator {
    background-color:black;
    border-radius: 20px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

#display {
    width: 100%;
    height: 100px;
    padding: 50px;
    font-size: 4rem;
    text-align: right;
    color:white;
    border: none;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-right: 20px;
}

.keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button{
    height: 80px;
    font-size: 2rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

button.function{
    background-color: #a5a5a5;
    color:white;
}
button.function:hover{
    background-color: #bbbbbb;
}
button.function:active{
    background-color: #e2e2e2;
}

button.number{
    background-color: #333;
    color:white;
}
button.number:hover{
    background-color: #636363;
}
button.number:active{
    background-color: #858585;
}

button.operator{
    background-color: #ff9f0a;
    color:white;
}
button.operator:hover{
    background-color: #ffb74b;
}
button.operator:active{
    background-color: #ffcd83;
}
